<section class="services" id="services">
    <div class="max-width">
      <h2 class="title">MY EDUCATION</h2>
      <div class="serv-content">
        <div class="card">
          <div class="box">
            <i class="fas fa-paint-brush"></i>
            <div class="text">Web Design</div>
            <p>With a keen eye for aesthetics and a deep understanding of user-centered design principles, I have a knack for creating visually stunning and intuitive web designs that captivate users and elevate their online experience.</p>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <i class="fas fa-gamepad"></i>
            <div class="text">Games Design</div>
            <p>Drawing from my passion for gaming and extensive knowledge of game design principles, I specialize in creating immersive and engaging gameplay experiences that blend captivating storytelling, intuitive mechanics, and stunning visuals, bringing virtual worlds to life.</p>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <i class="fas fa-code"></i>
            <div class="text">Web Development</div>
            <p>With a solid foundation in web development technologies and a knack for problem-solving, I excel in crafting responsive and feature-rich websites. From front-end design to back-end functionality, I bring together the best practices in HTML, CSS, JavaScript, and server-side programming to deliver seamless user experiences and robust web applications.</p>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <i class="fas fa-sitemap"></i>
            <div class="text">API Development</div>
            <p>I am experienced in developing RESTful APIs and integrating them into web applications, enabling smooth communication between different systems and services. I am familiar with tools like Postman for testing and documenting APIs.</p>
          </div>
        </div>
      </div>
    </div>
  </section>