<section id="about">
    <div class="img-1">
        <img src="C:\Users\Abhishek\Documents\abhishek kumar\image\WhatsApp Image 2023-12-07 at 20.22.01_fbaf7dc0.jpg" alt="">
    </div>
    <div class="about_content">
        <h2 class="heading">About <span>Me..</span></h2>
        <h3>Web Developer</h3>
        <p>A self-motivated IT professional with huge knowledge and proficiency in JavaScript, HTML,
            CSS, and mobile responsive web development, as well as strong skills and ability in writing 
            clean and efficient code, seeks the position of Front-End. Web Developer where profound
            knowledge of HTML/HTML5, PHP, CSS/CSS3, Bootstrap, TALWIND CSS, JavaScript/jQuery, 
            AngularJS, AJAX, jQuery,MySQL, Apache, and other similar systems, and ability to effectively
            design, maintain, and manage enterprise level CMS solutions will be applied.</p>
        <button>Read More</button>
    </div>
</section>