<section id="service">
    <h2 class="heading"><span>PROJECTS...</span></h2>
    <div class="service_content">
        <div class="service_box">
            <h3>Full Stack Developer</h3>
            <p>We are proficient in working with various programming languages, frameworks, and technologies to build and maintain web applications</p>
                <button>Read More</button>
        </div>
        <div class="service_box">
            <h3>SME-Mathematics</h3>
            <p>SMEs in Mathematics typically have a deep understanding of mathematical principles, theories, and applications across various branches, such as algebra</p>
                <button>Read More</button>
            </div>
        <div class="service_box">
            <h3>Graphic Designer</h3>
            <p>They use design principles, color theory, typography, and imagery to create visually appealing and effective designs for a wide...</p>
                <button>Read More</button>
            </div>
        <div class="service_box">
            <h3>PHP Developer</h3>
            <p>PHP syntax, functiores, and frameworkes such as Laravel, Symfony, or Codeigniter. We are skilled in srifting efficient and secure PHP code that interacts with</p>
                <button>Read More</button>
            </div>
    </div>
