<header class="header bg-dark">
    <div class="navbar">
        <a routerLink="home" class="px-4 text-decoration-none text-light"><span>SAINI</span></a>
        <ul class="nav gap-5">
            <li><a routerLink="about" class="menu-btn">ABOUT</a></li>
            <li><a routerLink="projects" class="menu-btn">PROJECTS</a></li>
            <li><a routerLink="skills" class="menu-btn">SKILLS</a></li>
            <li><a routerLink="education" class="menu-btn">EDUCATION</a></li>
            <li><a routerLink="contact" class="menu-btn">CONTACT</a></li>
        </ul>
        <div class="menu-btn">
            <img src="../assets/HD-wallpaper-youtube-red-logo-red-neon-lights-social-network-creative-red-abstract-background-youtube-logo-youtube-thumbnail.jpg" alt="">
        </div>
    </div>
</header>