<section id="home">
    <div class="home_content">
        <h3>Hello,I'm</h3>
        <h1>ABHISHEK KUMAR</h1>
        <h3>and I'm a <span>Web Developer</span></h3>
        <p>Web Developer where profound knowledge of HTML/HTML5, PHP, CSS/CSS3, Bootstrap,
            TALWIND CSS, JavaScript/jQuery, AngularJS, AIAX, jQuery, MySQL, Apache, and other similar 
            systems, and ability to effectively design, maintain, and manage enterprise level CMS solutions
            will be applied.</p>
        <button>Donwload CV</button>
    </div>
       <div class="img-1">
        <img src="/src/assets/img.jpg"alt=""/>
        </div>
</section>